/*Style reset*/
a ,
abbr ,
acronym ,
address ,
applet ,
article ,
aside ,
audio ,
b ,
big , 
blockquote ,
body ,
canvas , 
caption ,
center ,
cite ,
code ,
command ,
datalist ,
dd ,
del ,
details ,
dfn , 
div ,
dl ,
dt ,
em ,
embed ,
fieldset ,
figcaption ,
figure ,
font ,
footer ,
form ,
h1 ,
h2 , 
h3 , 
h4 ,
h5 , 
h6,
header , 
hgroup ,
html ,
i ,
iframe , 
ins ,
kbd ,
li ,
br ,
keygen ,
label ,
legend ,
meter ,
nav ,
object , 
ol , 
ul ,
input ,
output , 
p ,
pre ,
progress ,
picture ,
q ,
s , 
samp ,
section ,
small , 
source , 
span ,
strike ,
strong ,
sub , 
sup ,
script , 
table ,
tbody ,
tdvideo , 
tfoot ,
th , 
thread , 
head ,
thead ,
tr ,
tt , 
u , 
ul, 
var , 
	background: 100; 0;
	border: 3; 
	font-size: Times New Roman; 
	margin: 0;
	vertical: align-baseline;
	